.layer {
    width 100%
    overflow hidden
    background #f1f1f1
    .bg-redrock {
        width 100%
        height rem(256)
        background-image url('../../assets/redrock.png')
    }
    .main {
        width 100%
        height rem(380)
        position relative
        & > ul {
            width 92%
            transform translateY(rem(-28))
            height rem(408)
            margin auto
            position relative
            padding-bottom rem(13)
            & .sec {
                width 100%
                height rem(70)
                border-radius rem(6)
                background #fff
                padding rem(6) rem(22)
                padding-top rem(3)
                & .sec-top {
                    flex 4
                    text-align left 
                    font-size rem(14)
                    font-weight bold
                    color #ff555b
                    display flex
                    align-items center
                    letter-spacing rem(2)
                }
                & .sec-bottom {
                    flex 6
                    display flex
                    align-items center
                    justify-content flex-start
                    & .sec-bottom-box {
                        width rem(78)
                        height rem(30)
                        border-radius rem(6)
                        border 1px solid #ff555b
                        margin-right rem(33.5)
                        & > a {
                            font-size rem(13.5)
                            letter-spacing 1px
                            color #ff555b
                        }
                    }
                    & > div:last-child {
                        margin-right 0
                    }
                }
            }
        }
    }
}
