.layer {
    width 100%
    position relative
    z-index 188
    margin-bottom rem(20)
    .bg-redrock {
        width 100%
        height rem(193)
        background-image url('../../assets/redrock.png')
    }
    .main {
        width 100%
        position relative
        transform translateY(rem(-28))
        & > ul {
            width 92%
            margin auto
            position relative
            & .sec {
                width 100%
                border-radius rem(4)
                background #fff
                padding rem(20) rem(22)
                padding-bottom rem(22)
                margin-bottom rem(20)
                opacity 0
                animation fadeInUp 1s ease-in-out .5s forwards
                & .sec-top {
                    text-align left 
                    font-size rem(16)
                    // font-weight bold
                    color #ff555b
                    display flex
                    align-items center
                    letter-spacing rem(2)
                    margin-bottom rem(15)
                }
                & .sec-bottom {
                    display flex
                    align-items center
                    justify-content flex-start
                    & .sec-bottom-box {
                        width rem(78)
                        height rem(30)
                        border-radius rem(4)
                        border 1px solid #ff555b
                        margin-right rem(33.5)
                        & > a {
                            font-size rem(13.5)
                            letter-spacing 1px
                            color #ff555b
                            text-decoration none
                        }
                    }
                    & > div:last-child {
                        margin-right 0
                    }
                }
            }
            & > li:last-child {
                margin-bottom rem(15)
            }
        }
    }
}
