.slider {
    width 100%
    height rem(30)
    .arrow {
        width rem(25)
        height rem(25)
        background-image url('../../assets/arrow.png')
    }
}

@media screen and (min-height: 800px) { 
    .slider {
        height rem(40)
    }
}